 body{
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background-image: url(https://cdn.pixabay.com/photo/2015/01/10/08/29/curtain-595006_960_720.jpg);
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center; 
 }

.container{
    background: rgb(189,61,61);
    background: radial-gradient(circle, rgba(189,61,61,1) 0%, rgba(34,34,38,1) 100%);
    border-radius: 50px; 
    margin: 25px;  
    width: 30%;
    padding: 40px;
    align-items: center; 
    color: #F5F5F5;
    font-family: "Roboto Slab", serif;
   
}

.container h1{
    font-size: 25px;
    font-weight: 500px;
    font-family: "Roboto Slab", serif;
    text-align: center;
    color: #F5F5F5;
}

.container form .infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    display: inline;
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 10%;
}

.checkbox {
    display: inline; /* fica um do lado do outro (como podeos ver com os dias */
    width: 10%;
    font-size: 16px;
    margin-bottom: 25px;
}

.escolha {
    display: inline; /* fica um do lado do outro (como podeos ver com os dias */
    width: 10%;
    font-size: 16px;
    margin-bottom: 25px;
}


form{
    margin: auto;  
    width: 555px;
    padding: 40px;
    align-items: center;
    border-radius: 10px; 
    margin-bottom: auto;
}

label, input, select, textarea{
    display: block;  /*  cada elemento ocupe uma linha inteira, preenche td espaço e faz uma quebra de linha */
    width: 90%;   /* largura */
    padding: 10PX;  /*  espaçamento */
    border-radius: 20px;
    margin-bottom: 20px;  /* espaço inferior */
}

label{
    padding: 0%;
    margin: 0%;
    font-size: 19px;
}








